<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container d-flex">
    <a class="navbar-brand" href="/">
      <strong>Members Only</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
      <% if(typeof(user) == 'object' && user) { %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#newMessageModal" href="">New Message</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello, <%= user.first_name %>
          </a>
          <div class="dropdown-menu" style="width: 300px;" aria-labelledby="navbarDropdownMenuLink">
            <p class="dropdown-item">Membership Status: <strong><%= user.membership_status %></strong></p>
            <form class="form-horizontal px-2 py-2" method="POST" action="/elevate_privileges">
              <input class="form-control login" type="password" name="secret_word" placeholder="Elevate Privileges"><br>
              <input class="btn btn-sm btn-primary" type="submit" name="submit" value="Submit">
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/log-out">
              Logout
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M7 12h14l-3 -3m0 6l3 -3" />
              </svg>
            </a>
          </div>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#signUpModal" href="">Sign Up</a>
        </li>
      <% } %>
      </ul>
    </div>
  </div>
</nav>