html,body {
  height: 100%;
}

footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding: 20px 5px 0px 5px;
  color: #999;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  text-align: center;
}

.message-post {
  margin-bottom: 4rem;
}

.message-post-title {
  margin-bottom: .25rem;
}

.message-post-meta {
  margin-bottom: 1rem;
  color: rgb(153, 153, 153);
}

#wrap {
  min-height: 100%;
  padding-bottom: 200px;
  overflow: auto;
}


